body{
    background-image: url("../images/background.jpg");
    background-size: 100% 140%;
    background-repeat: no-repeat;
    font-family: 'Bahianita', cursive;
    color: blue;
    font-weight: bolder;
}
.needBorder
{
    border-style: dashed;
}
#hangman_img
{
    height: 200px;
    width: 200px;
}
#title_img
{
    height:100px;
    width:100px;
}
#game_img
{
    height:100%;
    width:100%;
}
.gamePlace
{
    text-align: center;
    background-color: lavender;
    background-blend-mode: overlay;
}
.phrase{
    size: 10em;
    text-align: left;
    color: gold;
    font-family: 'Notable', sans-serif;
}